@page "/test"

<div class="hero min-h-screen bg-base-200 bg-transparent">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Music Store Ethereum</h1>
            <p class="py-6">
                Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
                quasi. In deleniti eaque aut repudiandae et a id nisi.
            </p>
            <button class="btn btn-primary mr-5">Install Metamask</button>
            <button class="btn btn-primary">Buy Music</button>
        </div>
    </div>
</div>

@if (PageState == 0)
{
    <div class="flex flex-col w-full items-center rounded-box gap-10 justify-center content-center 
  bg-base-200 bg-opacity-40 max-w-screen-xl">
        <div class="rounded-box grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 m-3 
    max-w-screen-xl gap-4 bg-base-200 p-10 w-auto h-auto">
            <p class="bg-red-500">testestest</p>
            @foreach (var item in albums)
            {
                <div class="card card-compact max-w-96 bg-primary-content shadow-xl">
                    <figure>
                        <img src=@item.image_url alt="AlbumCover"/>
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">@item.name</h2>
                        @foreach (var artist in item.artists_view)
                        {
                            <p>@artist.Value</p>
                        }
                        <div class="card-actions justify-end">
                            <button class="btn btn-primary" @onclick="() => AlbumClicked(item.album_id)">Buy Now</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else if (PageState == 1)
{
    <div class="bg-base-200 bg-opacity-40 w-full flex flex-col rounded-box gap-10 justify-center content-center
    max-w-screen-xl">
        <div class="m-12 bg-primary-focus rounded-box w-auto h-auto max-w-screen-xl grid grid-cols-3 grid-rows-2">
            @* <figure class="grow min-w-max col-span-1 max-w-screen-xl"><img src="https://placeimg.com/400/225/arch"
        alt="AlbumCover" />
        </figure>

        <div class="prose col-span-2">
        <h2>@products.First().Name</h2>
        <p>@products.First().Description</p>

        </div> *@
            <figure class="col-span-1 row-span-1">
                <img class="rounded-tl-box w-full" src=@albums.First().image_url
                     alt="Album"/>
            </figure>
            <div class="card-body col-span-2 row-span-2 bg-primary-content rounded-tr-box rounded-br-box">
                <h2 class="card-title">@albums.First().name</h2>
                <p>@albums.First().billboard</p>
                @foreach (var artist in albums.First().artists_view)
                {
                    <p>@artist.Value</p>
                }
                <ul id="track-listing">
                    @foreach (var song in songs)
                    {
                        <li>@song.song_name</li>
                    }
                </ul>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Listen</button>
                </div>
            </div>
        </div>
    </div>
}