@if (PageState == 0)
{
  <div class="flex flex-col w-full items-center rounded-box gap-10 justify-center content-center 
  bg-base-200 bg-opacity-40 max-w-screen-xl">
    <div class="rounded-box grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 m-3 
    max-w-screen-xl gap-4 bg-base-200 p-10 w-auto h-auto">
      @foreach (var item in albums)
      {
        <div class="card card-compact max-w-96 bg-primary-content shadow-xl">
          <figure>
            <img src=@item.image_url alt="AlbumCover" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">@item.name</h2>
            @foreach (var artist in item.artists_view)
            {
              <p>@artist.Value</p>
            }
            <div class="card-actions justify-end">
              <button class="btn btn-primary" @onclick="() => AlbumClicked(item.album_id)">Buy Now</button>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}
else if (PageState == 1)
{
  <div class="bg-base-200 bg-opacity-40 w-full flex flex-col rounded-box gap-10 justify-center content-center
    max-w-screen-xl">
    <div class="m-12 bg-primary-focus rounded-box w-auto h-auto max-w-screen-xl grid grid-cols-3 grid-rows-2">
      <figure class="col-span-1 row-span-1">
        <img class="rounded-tl-box w-full" src=@albums.First().image_url alt="Album" />
      </figure>
      <div class="card-body col-span-2 row-span-2 bg-primary-content rounded-tr-box rounded-br-box">
        <h2 class="card-title">@albums.First().name</h2>
        <p>@albums.First().billboard</p>
        @foreach (var artist in albums.First().artists_view)
        {
        <p>@artist.Value</p>
        }
        <div class="overflow-x-auto">
          <table class="table w-full">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Duration</th>
                <th>Play</th>
              </tr>
            </thead>
            <tbody>
              @for(int i = 0; i < songs.Count; i++)
              {
                var i2 = i;
                <tr class="hover">
                  <th>1</th>
                  <td>
                    @songs.ElementAt(i).song_name
                  </td>
                  <td>3:33</td>
                  <td @ref="memberRef[i2]" id="play-btn" class="element-@i2" @onclick="() => PlayButtonClicked(i2)">
                    <i class="fa-solid fa-play"></i></td>
                </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Listen</button>
        </div>
      </div>
    </div>
  </div>
}